{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class='row align-items-center justify-content-center'>
        <div class= "col-sm-9">
            <h1 class="text-warning">Events</h1>
            <a href='/'>Back to Home</a><br>
            <a href='/events/new'>New Event</a>
            <div class='row justify-content-center'>
                {% for event in events %}
                    <div class='col-sm'>
                        <div class="card border-info mb-3" style="max-width: 20rem;">
                            <div class="card-header">
                                <h2><a  class="text-info" href='/events/{{ event._id }}'>{{ event.title }}</a></h2>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <h4><a  class="text-success" href='/events/{{ event._id }}'>Description: {{ event.description }}</a></h4><br>
                                    <h4><a  class="text-success" href='/events/{{ event._id }}'>Age Range: {{ event.age_range }}</a></h4><br>
                                    <h4><a  class="text-success" href='/events/{{ event._id }}'>Location: {{ event.location }}</a></h4><br>
                                    <h4><a  class="text-success" href='/events/{{ event._id }}'>Date: {{ event.date }}</a></h4><br>
                                    <h4><a  class="text-success" href='/events/{{ event._id }}'>Category: {{ event.category }}</a></h4><br>
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                {% if event.created_at %}
                                    <p class='text-muted'>Created on: {{ event.created_at.strftime('%A, %d %B, %Y') }} at {{ event.created_at.strftime('%I:%M %p') }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
<div class="card border-info mb-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h4 class="card-title">Info card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>