{% extends 'base.html' %}

{% block content %}
    <center><div class="jumbotron">
        <h1 class="display-3 text-warning">Welcome to Fun Finder!</h1>
        <div class='justify-content-center'>
            <center><img src="static/balloons.jpg" width="75%"></center>
        </div><br>
        <p class="lead text-success">A list of free kid's events/activities in Marin County, California.<br>Post your local events here by clicking on "New Event" at the top of the page.</p>
        <hr class="my-4">
        <p class="text-info">Have fun!</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href='/events' role="button">Events</a>
        </p>
    </div></center>
{% endblock %}