{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/events'>
    <fieldset>
        <legend>New Event</legend>
        <p>
            <label for='title'>Title</label><br>
            <input type='text' name='title' />
        </p>
        <p>
            <label for='description'>Description</label><br>
            <input type='text' name='description' />
        </p>
        <p>
            <label for='age_range'>Age Range</label><br>
            <input type='text' name='age_range' />
        </p>
        <p>
            <label for='location'>Event Location</label><br>
            <input type='text' name='location' />
        </p>
        <p>
            <label for='date'>Date of Event</label><br>
            <input type='text' name='date' />
        </p>
        <p>
            <label for='category'>Event Category</label><br>
            <select name='category' id='category'>
                <option value="educational">Educational</option>
                <option value="outdoor">Outdoor</option>
                <option value="sports">Sports</option>
                <option value="arts">Arts and Crafts</option>
                <option value="religious">Religious</option>
            </select>
        </p>
    </fieldset>
    <div>
        <p>
            <button type='submit'>Save Event</button>
        </p>
    </div>    
</form>
{% endblock %}