{% extends 'base.html' %}

{% block content %}
    <a href='/'>Back to Home</a><br>
    <a href='/events'>Back to Events</a>
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <div class="card border-success mb-3" style="max-width: 60rem;">
                <div class="card-header">

                    <h1 class='text-info'>{{ event.title }}</h1>
                </div>
                <h2 class='text-warning'>Description: {{ event.description }}</h2>
                <h2 class='text-success'>Age Range: {{ event.age_range }}</h2>
                <h2 class='text-info'>Location: {{ event.location }}</h2>
                <h2 class='text-warning'>Date: {{ event.date }}</h2>
                <h2 class='text-success'>Category: {{ event.category }}</h2>
                {% if event.created_at %}
                    <p class='text-muted'>Created on: {{ event.created_at.strftime('%A, %d %B, %Y') }} at {{ event.created_at.strftime('%I:%M %p') }}</p>
                {% endif %}
                <div class="card-footer">
                    <form method='GET' action="/events/{{ event._id }}/edit">
                        <div class='form-group'>
                            <button class="btn btn-outline-primary" type='submit'>Edit</button>
                        </div>
                    </form>
                    <form method='POST' action="/events/{{ event._id }}/delete">
                        <button class="btn btn-outline-danger" type='submit'>Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
